body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f6f9;
}

header {
    background: #0d6efd;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background: #084298;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    background: white;
    margin: 15px;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #0d6efd;
    color: white;
}
